.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.places h2 {
    font-size: 24px;
    text-align: center;
}
